body {
font-family: Arial, sans-serif;
}
.container {
width: 300px;
padding: 16px;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
margin: 0 auto;
margin-top: 50px;
}
.container h2 {
margin-bottom: 30px;
}
.btn {
width: 100%;
}